@page "/authenticate"
@using Malarkey.UI.Components.Authentication

<div class="malarkey-authenticate-page-bg">
    <IdpSelectionComponent
        Forwarder="@Forwarder"
        IdProvider="@IdProvider"
        NavManager="NavManager"
        Scopes="@Scopes"
        ForwarderState="@ForwarderState"
    ></IdpSelectionComponent>
</div>
