@page "/authenticate-microsoft"
@using Malarkey.Integration
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Identity.Web
@using Scops = Malarkey.Integration.Microsoft.MicrosoftEntraIdConstants.GraphScopes;
@attribute [Authorize(
    AuthenticationSchemes = IntegrationConstants.IdProviders.MicrosoftAuthenticationSchemeName,    
    Policy = IntegrationConstants.AuthorizationPolicies.MicrosoftIsAuthenticatedPolicyName)
]
@attribute [AuthorizeForScopes(Scopes = [Scops.OpenId, Scops.ReadContacts, Scops.ReadUser, Scops.Profile])]


<div>
    <p>

    </p>
    @foreach(var img in _images)
    {
        <img src="@(img.AsImageDataAttribute)" />
    }
</div>

