@page "/authenticate"
@using Malarkey.UI.Components.Authentication

<div class="malarkey-authenticate-page-bg">
    @if(_authenticationSession != null) {
        <IdpSelectionComponent NavManager="NavManager"
                               Session="_authenticationSession"
                               AlwaysChallenge="@AlwaysChallenge"></IdpSelectionComponent>
    }
</div>
