@page "/authenticate"

<div class="malarkey-authenticate-page-bg">
    <div class="malarkey-authenticate-page-container container-fluid">
        <div class="row malarkey-authenticate-page-top-row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-12">
                <h1 class="malarkey-authenticate-page-header">Sign in with</h1>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row malarkey-authenticate-page-button-row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-12">
                <button class="malarkey-authenticate-page-button" @onclick="OnMicrosoftClick">
                    <img src="images/authenticate/microsoft.webp" />
                </button>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row malarkey-authenticate-page-button-row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-12">
                <button class="malarkey-authenticate-page-button" @onclick="OnGoogleClick">
                    <img src="images/authenticate/google.webp" />
                </button>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row malarkey-authenticate-page-button-row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-12">
                <button class="malarkey-authenticate-page-button" @onclick="OnFacebookClick">
                    <img src="images/authenticate/facebook.webp" />
                </button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
