
@page "/challenge"
@using Malarkey.Abstractions
@using Malarkey.Integration
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(AuthenticationSchemes = MalarkeyConstants.MalarkeyAuthenticationScheme)]
<div></div>