.malarkey-verify-email-page {
    font-family: 'Ink Free';
    font-size: 30pt;
    padding: 100px;
}

.malarkey-verify-email-error {
    color: rgb(220,53,69);
}

.malarkey-verify-email-success {
    color: rgb(25,135,84);
}