.malarkey-profile-page-bg {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 1800px;
    background-image: url('images/profile/waves-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.malarkey-profile-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: rgba(240,240,240, 0.7);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(60,60,60,0.5);
}

.malarkey-profile-header {
    font-family: 'Merienda';
    font-size: 50pt;
    width: 800px;
    text-align: center;
    margin-top: 30px;
    margin-bottom:0px;
}

.malarkey-profile-image-container {
    position: relative;
    content:'';
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 750px;
}

.malarkey-profile-image-frame {
    position: absolute;
    content:'';
    top: 0px;
    left: 0px;
    background-image: url('images/profile/wave-frame.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 750px;
    height: 750px;
    z-index: 100;
}
.malarkey-profile-image-container-inner {
    position: absolute;
    content: '';
    width: 750px;
    height: 750px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: none;
}

#malarkey-profile-image {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 250px;
    border-style: none;
    border-width: 1px;
}

#malarkey-profile-image-input {
    position: absolute;
    content: '';
    z-index: 120;
    left: 230px;
    top: 810px;
    width: 350px;
    height: 50px;
    background-color: rgba(240,240,240, 0.9);
    font-family: 'Ink Free';
    padding: 10px;
    padding-left: 50px;
    border-radius: 8px;
    border-style: solid;
    border-width: 0.2px;
    box-shadow: 3px 3px rgba(60,60,60,0.5);
}

.malarkey-profile-input-form {
    position: relative;
    width: 600px;
    height: 400px;
    font-family: 'Ink Free';
    font-size: 14pt;
    margin-top: 20px;
    margin-left: 30px;
}

.malarkey-profile-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.malarkey-profile-input-label {

}

.malarkey-profile-input-component {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.malarkey-profile-input {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    font-family: 'Ink Free';
    font-weight: 700;
    font-size: 10pt;
}

#malarkey-profile-send-verification-button {
    margin-left: 20px;
    width: 120px;
    height: 20px;
    font-family: 'Ink Free';
    font-weight: 900;
    font-size: 10px;
    background-color: rgba(192, 194, 203, 0.5);
    border-radius: 5px;
}

.malarkey-profile-input-error {
    font-family: 'Ink Free';
    font-size: 10pt;
    color: rgb(220, 10, 10);
}

.input-error {
    border-color: rgb(220, 10, 10);
}

.malarkey-profile-flash-info{
    font-family: 'Ink Free';
    font-size: 20pt;
    color: rgb(58, 172, 78, 0.9);
    animation-delay: 0s;
    animation-name: flashinfo;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.malarkey-profile-identities-container {
    width: 90%;
    height: 1000px;
    margin: 20px;
    background-color: rgba(80,80,80,0.8);
    border-radius: 7px;
    padding: 10px;
    padding-top: 30px;

}

.malarkey-profile-identity-container {
    width: 100%;
    height: 200px;
    margin: 20px;
}


.malarkey-profile-connect-identity-container {
    margin: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.malarkey-profile-connect-identity-buttons {
    margin-bottom: 10px;
}

.malarkey-profile-connect-identity-button {
    font-family: 'Ink Free';
    font-weight: 700;
    border-radius: 4px;
    background-color: rgba(230,148,71, 0.2);
}

.malarkey-profile-connect-identity-iframe {
    width: 100%;
    height: 80%;
}


@keyframes flashinfo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
