<div class="malarkey-profile-identity-provider-component">
    <div class="malarkey-profile-identity-provider-title" style="background-image: url('@(ImageFile)');"></div>
    <div class="malarkey-profile-identities-container">
        <div class="malarkey-profile-identities-identity">
            <a class="malarkey-profile-identities-add-button" target="_blank" href="@IdentityConnectUrl">
                <i class="bi bi-plus-circle malarkey-add-button-icon"></i>
            </a>
            <div>Add Identity</div>
        </div>
        @foreach(var id in Identities) 
        {
            <div class="malarkey-profile-identities-identity">
                <div class="malarkey-profile-identities-identity-lines">
                    @foreach(var lin in id.Lines) {
                        <div class="malarkey-profile-identities-identity-line">@lin</div>
                    }
                </div>
            </div>
        }
    </div>
</div>